

<p>
  <strong>First name:</strong>
  <%= @nanny.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @nanny.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @nanny.email %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @nanny.street_address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @nanny.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @nanny.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @nanny.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @nanny.zipcode %>
</p>

<p>
  <strong>Time at cur addre:</strong>
  <%= @nanny.time_at_cur_addre %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @nanny.phone %>
</p>

<p>
  <strong>Desired hrs:</strong>
  <%= @nanny.desired_hrs %>
</p>

<p>
  <strong>Desired territory:</strong>
  <%= @nanny.desired_territory %>
</p>

<p>
  <strong>Desired wage:</strong>
  <%= @nanny.desired_wage %>
</p>

<p>
  <strong>Us citizen:</strong>
  <%= @nanny.us_citizen %>
</p>

<p>
  <strong>Work permit:</strong>
  <%= @nanny.work_permit %>
</p>

<p>
  <strong>Gc num:</strong>
  <%= @nanny.gc_num %>
</p>

<p>
  <strong>Yrs in usa:</strong>
  <%= @nanny.yrs_in_usa %>
</p>

<p>
  <strong>Have dl:</strong>
  <%= @nanny.have_dl %>
</p>

<p>
  <strong>Dl number:</strong>
  <%= @nanny.dl_number %>
</p>

<p>
  <strong>Dl state:</strong>
  <%= @nanny.dl_state %>
</p>

<p>
  <strong>Yrs driving:</strong>
  <%= @nanny.yrs_driving %>
</p>

<p>
  <strong>Own car:</strong>
  <%= @nanny.own_car %>
</p>

<p>
  <strong>Make model:</strong>
  <%= @nanny.make_model %>
</p>

<p>
  <strong>Use for work:</strong>
  <%= @nanny.use_for_work %>
</p>

<p>
  <strong>Date available:</strong>
  <%= @nanny.date_available %>
</p>

<p>
  <strong>Sunday avail:</strong>
  <%= @nanny.sunday_avail %>
</p>

<p>
  <strong>Monday avail:</strong>
  <%= @nanny.monday_avail %>
</p>

<p>
  <strong>Tuesday avail:</strong>
  <%= @nanny.tuesday_avail %>
</p>

<p>
  <strong>Wednesday avail:</strong>
  <%= @nanny.wednesday_avail %>
</p>

<p>
  <strong>Thursday avail:</strong>
  <%= @nanny.thursday_avail %>
</p>

<p>
  <strong>Friday avail:</strong>
  <%= @nanny.friday_avail %>
</p>

<p>
  <strong>Saturday avail:</strong>
  <%= @nanny.saturday_avail %>
</p>

<p>
  <strong>One year min commit:</strong>
  <%= @nanny.one_year_min_commit %>
</p>

<%= link_to 'Edit', edit_nanny_path(@nanny) %> |
<%= link_to 'Back', nannies_path %>
