

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Spouse first name:</strong>
  <%= @client.spouse_first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @client.alt_phone %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.street %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @client.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @client.profession %>
</p>

<p>
  <strong>Partner profession:</strong>
  <%= @client.partner_profession %>
</p>

<p>
  <strong>Needed service:</strong>
  <%= @client.needed_service %>
</p>

<p>
  <strong>Num of kids:</strong>
  <%= @client.num_of_kids %>
</p>

<p>
  <strong>Names and ages kids:</strong>
  <%= @client.names_and_ages_kids %>
</p>

<p>
  <strong>Special needs:</strong>
  <%= @client.special_needs %>
</p>

<p>
  <strong>Medical condition:</strong>
  <%= @client.medical_condition %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @client.pets %>
</p>

<p>
  <strong>Pet care:</strong>
  <%= @client.pet_care %>
</p>

<p>
  <strong>Family schedule:</strong>
  <%= @client.family_schedule %>
</p>

<p>
  <strong>Household tasks:</strong>
  <%= @client.household_tasks %>
</p>

<p>
  <strong>Fam philosophy:</strong>
  <%= @client.fam_philosophy %>
</p>

<p>
  <strong>Playdates:</strong>
  <%= @client.playdates %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
