<p id="notice"><%= notice %></p>

<p>
  <strong>Family name:</strong>
  <%= @job_post.family_name %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @job_post.headline %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job_post.location %>
</p>

<p>
  <strong>Type:</strong>
  <%= @job_post.work_type %>
</p>

<p>
  <strong>Hiring date:</strong>
  <%= @job_post.hiring_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_post.description %>
</p>

<%= link_to 'Edit', edit_job_post_path(@job_post) %> |
<%= link_to 'Back', job_posts_path %>
